@font-face {
    font-family: "default";
    src: url("font/MPLUS1p-Medium.ttf");
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: none;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(53, 50, 50);
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(53, 50, 50);
    border-radius: 20px;
}

* {
    font-family: "default";
    /* zoom: 67%; */
}

html {
    zoom: 67%;
}

body {
    margin: 0;
}

.md {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-image: url('images/school.jpg'); */
    padding: 10px;
    box-sizing: border-box;
}

.mrd {
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    /* background-color: to; */
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px;
}

.mld1 {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.576);
    border-radius: 10px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("images/humpback_whale_art-wallpaper-1366x768.jpg");
}

.inp {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    height: 50px;
    border: none;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.log_b {
    background-color: rgb(15, 242, 23);
    border-radius: 10px;
    border: none;
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    color: white;
    font-size: 20px;
}

.log_b:hover {
    background-color: white;
    border-radius: 10px;
    border: none;
    width: 60%;
    height: 40px;
    margin-bottom: 20px;
    color: rgb(15, 242, 23);
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
}

.lc {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.727);
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border-radius: 10px;
    /* width: 200px;
    aspect-ratio: 1; */
    width: 100%;
    height: 100%;
    /* border: solid 0.1px black; */
}

.lc:hover {
    transform: scale(1.2);
    transition: 0.5s;
    cursor: pointer;
}

.login-cards {
    width: 100%;
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.admin-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
    grid-template-areas: "me con";
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
}

.menu {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    height: 100%;
    grid-area: me;
    background-color: rgba(255, 255, 255, 0.692);
    border-radius: 20px;
    text-align: center;
}

.content {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    grid-area: con;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    /* grid-template-rows: repeat(1, 100%); */
    gap: 10px;
}

.manage {
    width: 100%;
    height: 80%;
    margin-top: 15%;
    background-color: rgba(255, 255, 255, 0.646);
    border-radius: 20px;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-columns: 100%;
    grid-template-areas: "mn-i" "mn-d";
}

.mn-d {
    width: 100%;
    height: 100%;
    grid-area: mn-d;
    text-align: center;
    overflow-y: auto;
}

.mn-i {
    width: 100%;
    height: 100%;
    grid-area: mn-i;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pi {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
    aspect-ratio: 1;
    -webkit-mask: radial-gradient(farthest-side, #0000 60px, #000 60px);
    mask: radial-gradient(farthest-side, #0000 60px, #000 60px);
    margin-bottom: 10px;
    margin-top: 10px;
}

.pi2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    height: 150px;
    aspect-ratio: 1;
    /* -webkit-mask: radial-gradient(farthest-side, #0000 60px, #000 60px);
    mask: radial-gradient(farthest-side, #0000 60px, #000 60px); */
}

.more-but {
    position: fixed;
    text-align: center;
    align-items: center;
    right: 5px;
    top: 5px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.844);
    aspect-ratio: 1;
    border-radius: 50%;
    transition: 0.7s;
    cursor: pointer;
    background-image: url("images/plus.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9999;
}

.more {
    position: fixed;
    right: 5px;
    top: 90px;
    height: 0;
    background-color: rgba(255, 255, 255, 0.844);
    width: 0;
    border-radius: 20px;
    transition: 0.5s;
    z-index: 9999;
}

.b {
    font-size: 18px;
    height: 40px;
    border: none;
    border-radius: 10px;
    width: 80%;
    margin-bottom: 10px;
    cursor: pointer;
}

.u-pi {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: teal;
    -webkit-mask-image: radial-gradient(farthest-side, #0000 100px, #000 100px);
    mask-image: radial-gradient(farthest-side, #0000 100px, #000 100px);
}

.popup-body {
    position: fixed;
    z-index: 999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.567);
    display: none;
    align-content: center;
    overflow: auto;
}

.admin-edit-pop {
    /* position: absolute; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    border: solid black 0.1px;
}

.close {
    width: 40px;
    height: 40px;
    border-top-right-radius: 20px;
    background-color: tomato;
    color: white;
    display: flex;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("images/cross.svg");
}

.cd {
    width: 100%;
    height: 40px;
    /* background-color: black; */
}

.dd {
    width: 100%;
    height: 100%;
    display: grid;
}

.pop-det {
    width: 100%;
    height: 100%;
    text-align: end;
    box-sizing: border-box;
    padding: 10px;
}

.stu {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.sub {
    box-sizing: border-box;
    width: 100%;
    /* height: 100%; */
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.pop-body {
    /* border: solid rgb(226, 66, 104) 0.1px; */
    padding: 10px;
    box-sizing: border-box;
    width: 40%;
    margin-left: 30%;
    height: 500px;
    position: absolute;
    background-color: #eeeeee;
    border-radius: 10px;
    /* box-shadow: 2px 5px 11px -2px rgba(0, 0, 0, 0.73); */
    box-shadow: -1px -1px 16px -1px rgba(0, 0, 0, 0.39);
    /* margin-bottom: 20px; */
    margin-top: 10px;
}

.pop {
    position: fixed;
    width: 100%;
    height: 100%;
    /* justify-items: center; */
    /* align-items: center; */
    /* background-color: red; */
    z-index: 99999;
    display: none;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
}

.pop-top {
    width: 100%;
    height: 30px;
    display: grid;
    justify-content: end;
    box-sizing: border-box;
}

.pop-bot {
    width: 100%;
    height: 450px;
    padding: 10px;
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    overflow-y: auto;
}

.vf-stat {
    position: relative;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(39, 235, 39);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('images/vf.svg');
}

.nvf-stat {
    position: relative;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: tomato;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('images/nvf.svg');
}

.stc {
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    grid-area: con;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(1, 100%); */
    gap: 10px;
}

.clo {
    cursor: pointer;
    width: 30px;
    height: 30px;
    /* background-color: red; */
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../about/icon/clo.svg");
}

@media(max-width:1019px) {
    .login-cards {
        width: 100%;
        height: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .admin-page {
        width: 100%;
        height: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40% 60%;
        grid-template-areas: "me" "con";
    }
    .menu {
        overflow-y: auto;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: fit-content;
        grid-area: me;
        background-color: rgba(255, 255, 255, 0.692);
        border-radius: 20px;
        text-align: center;
    }
    .admin-page {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        /* grid-template-columns: 100%; */
        /* grid-template-rows: 60% 40%; */
        /* grid-template-areas: "me" "con"; */
    }
    .content {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        grid-area: con;
        display: block;
        /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
        /* grid-template-rows: repeat(1, 100%); */
        gap: 10px;
    }
    .manage {
        width: 100%;
        height: 80%;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.646);
        border-radius: 20px;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
        grid-template-areas: "mn-i" "mn-d";
    }
}

@media(max-width:599px) {
    .menu {
        overflow-y: auto;
        box-sizing: border-box;
        padding: 10px;
        width: 100%;
        height: fit-content;
        grid-area: me;
        background-color: rgba(255, 255, 255, 0.692);
        border-radius: 20px;
        text-align: center;
    }
    .admin-page {
        width: 100%;
        height: 100%;
        position: absolute;
        display: block;
        /* grid-template-columns: 100%; */
        /* grid-template-rows: 60% 40%; */
        /* grid-template-areas: "me" "con"; */
    }
    .content {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        grid-area: con;
        display: block;
        /* grid-template-columns: repeat(2, minmax(200px, 1fr)); */
        /* grid-template-rows: repeat(1, 100%); */
        gap: 10px;
    }
    .manage {
        width: 100%;
        height: 80%;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.646);
        border-radius: 20px;
        display: grid;
        grid-template-rows: 30% 70%;
        grid-template-columns: 100%;
        grid-template-areas: "mn-i" "mn-d";
    }
    .pop-body {
        width: 80%;
        margin-left: 10%;
        height: fit-content;
        position: absolute;
        box-sizing: border-box;
        /* background-color: red; */
        box-shadow: 2px 5px 11px -2px rgba(0, 0, 0, 0.73);
        border-radius: 10px;
        margin-top: 10px;
    }
}